<footer class="absolute bottom-0 w-full mt-16 bg-[#1A202C] text-white">
  <section class="container px-8 lg:px-0 lg:mx-auto py-8">
    <img src="assets/images/kuartz-white.png" alt="Kuartz" class="h-6">
    <p class="text-sm mt-4 font-light">
      27 rue de la Noue Bras de Fer
      <br>
      44200 Nantes
    </p>
  </section>
  <div class="border-t border-gray-500"></div>
  <section class="container px-8 lg:px-0 lg:mx-auto py-4">
    <p class="text-xs text-gray-300">© 2022 - Kuartz. Tous droits réservés.</p>
  </section>
</footer>
