<header class="container mx-auto flex justify-between items-center py-6 border-b">
  <section class="flex">
    <img src="/assets/images/kuartz.svg" class="h-6 my-2 mx-4 lg:ml-0 lg:mr-4" alt="Kuartz" />
    <nav class="hidden lg:flex">
      <a class="mx-3 py-3 px-1 text-sm font-medium text-gray-700 hover:text-gray-600 hover:underline" href="https://www.kuartz.fr/produit">PRODUIT</a>
      <a class="mx-3 py-3 px-1 text-sm font-medium text-gray-700 hover:text-gray-600 hover:underline" href="https://www.kuartz.fr/secteurs">SECTEURS</a>
      <a class="mx-3 py-3 px-1 text-sm font-medium text-gray-700 hover:text-gray-600 hover:underline" href="/">CAS D'USAGES</a>
      <a class="mx-3 py-3 px-1 text-sm font-medium text-gray-700 hover:text-gray-600 hover:underline" href="https://www.kuartz.fr/a-propos">À PROPOS</a>
    </nav>
  </section>

  <section class="flex">
    <a class="hidden lg:block mx-3 py-3 px-1 text-sm font-medium text-gray-700 hover:text-gray-600 hover:underline" href="https://app.kuartz.fr/">SE CONNECTER</a>
    <a class="ml-3 py-3 px-2 text-sm font-medium text-white bg-[#22234C] rounded shadow" href="https://www.kuartz.fr/#section-contact">CONTACTEZ-NOUS</a>

    <button id="toggle-menu" aria-label="Menu" class="mx-4 lg:hidden">
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4 6h16M4 12h16M4 18h16" />
      </svg>
    </button>
  </section>
</header>
<nav id="mobile-nav" class="hidden">
  <a class="py-4 block w-full text-sm font-medium text-gray-700 text-center border-b" href="https://www.kuartz.fr/produit">PRODUIT</a>
  <a class="py-4 block w-full text-sm font-medium text-gray-700 text-center border-b" href="https://www.kuartz.fr/secteurs">SECTEURS</a>
  <a class="py-4 block w-full text-sm font-medium text-gray-700 text-center border-b" href="/">CAS D'USAGES</a>
  <a class="py-4 block w-full text-sm font-medium text-gray-700 text-center border-b" href="https://www.kuartz.fr/a-propos">À PROPOS</a>
</nav>

<script>
  const button = document.getElementById("toggle-menu");
  const mobileNav = document.getElementById("mobile-nav");

  button.addEventListener("click", (event) => {
    mobileNav.classList.toggle("hidden");
  })
</script>
