<meta name="description" content="{{ page.meta_description }}">

<!-- Facebook Open Graph data -->
<meta property="og:title" content="{{ page.meta_title }}" />
<meta property="og:type" content="website" />
<meta property="og:url" content="{{ site.url }}{{ page.permalink }}" />
<meta property="og:image" content="{{ page.meta_image }}" />
<meta property="og:description" content="{{ page.meta_description }}" />
<meta property="og:site_name" content="{{ page.meta_title }}" />

<!-- Twitter Card data -->
<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="{{ site.twitter_username }}">
<meta name="twitter:title" content="{{ page.meta_title }}">
<meta name="twitter:description" content="{{ page.meta_description }}">
<meta name="twitter:creator" content="{{ site.twitter_username }}">
<meta name="twitter:image:src" content="{{ page.meta_image }}">
