<!DOCTYPE html>
<html lang="{{ site.lang | default: "fr" }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ page.title }} - {{ site.title }}</title>
    {% include meta.html %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">

    <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}">
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">
    {% include favicons.html %}
  </head>
  <body class="min-h-screen relative pb-64">
    {% include header.html %}
    <div class="container mx-auto lg:mt-36">
      {{ content }}
    </div>
    {% include footer.html %}
  </body>
</html>
